<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>schedule</title>
        <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
        </style>
    </head>

    <body>
        {% if scheds %}
        <table>
            <tr>
                <th>id</th>
                <th>date</th>
                <th>description</th>
            </tr>
            {% for item in scheds %}
            <tr>
                <td>{{item.0}}</td>
                <td>{{item.1}}</td>
                <td>{{item.2}}</td>
            </tr>
            {% endfor %}
        {% else %}
            this is broke
        {% endif %}
            <form method="POST" action="{% url 'insertsched' %}">
            {% csrf_token %}
            INSERT: sched id
            <input type="text" name="textfield0" size="10">
            sched date
            <input type="text" name="textfield1" size="10">
            sched description
            <input type="text" name="textfield2" size="10">
                sched year
                <input type="text" name="textfield3" size="10">

            <button type="submit">add schedule</button>
        </form>
        
        <br>

        <form method="POST" action="{% url 'deletesched' %}">
            {% csrf_token %}
            DELETE: sched id
            <input type="text" name="textfield6" size="10">
             
            <button type="submit">delete schedule</button>
        </form>

        <br>

        <form method="POST" action="{% url 'updatesched' %}">
            {% csrf_token %}
            UPDATE: sched id to be updated
            <input type="text" name="textfield7" size="10">
            comma-separated list of updates (sample: sched id='123', description='proposal deadline')
            <input type="text" name="textfield8" size="30">

            <button type="submit">edit schedule</button>
        </form>
    </body>
</html>
