<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>stop mechanism</title>
        <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
        </style>
    </head>

    <body>
        {% if stops %}
        <table>
            <tr>
                <th>id</th>
                <th>time</th>
                <th>year made</th>
            </tr>
            {% for item in stops %}
            <tr>
                <td>{{item.0}}</td>
                <td>{{item.1}}</td>
                <td>{{item.2}}</td>
            </tr>
            {% endfor %}
        {% else %}
            this is broke
        {% endif %}
            <form method="POST" action="{% url 'insertstops' %}">
            {% csrf_token %}
            INSERT: stop id
            <input type="text" name="textfield0" size="10">
            stop time
            <input type="text" name="textfield1" size="10">
            year
            <input type="text" name="textfield2" size="10">
             
            <button type="submit">add stop_mech</button>
        </form>
        
        <br>

        <form method="POST" action="{% url 'deletestops' %}">
            {% csrf_token %}
            DELETE: stop id
            <input type="text" name="textfield3" size="10">
             
            <button type="submit">delete stop_mech</button>
        </form>
        </table>

        stop mechanism queries:
        <a href='/chemecardb/stopmechq'><b>queries</b></a>
    </body>
</html>
