<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>trials</title>
        <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
        </style>
    </head>

    <body>
        {% if trls %}
        <table>
            <tr>
                <th>trial id</th>
                <th>power mechanism id</th>
                <th>payload</th>
                <th>distance</th>
                <th>time</th>
            </tr>
            {% for item in trls %}
            <tr>
                <td>{{item.1}}</td>
                <td>{{item.0}}</td>
                <td>{{item.2}}</td>
                <td>{{item.3}}</td>
                <td>{{item.4}}</td>
            </tr>
            {% endfor %}
        {% else %}
            this is broke
        {% endif %}
            <form method="POST" action="{% url 'inserttrial' %}">
            {% csrf_token %}
            INSERT: trial id
            <input type="text" name="textfield0" size="10">
            pow id
            <input type="text" name="textfield1" size="10">
            payload
            <input type="text" name="textfield2" size="10">
            distance
            <input type="text" name="textfield3" size="10">
            trial time
            <input type="text" name="textfield4" size="10">
             
            <button type="submit">add trial</button>
        </form>
        
        <br>

        <form method="POST" action="{% url 'deletetrial' %}">
            {% csrf_token %}
            DELETE: trial id
            <input type="text" name="textfield5" size="10">
             
            <button type="submit">delete trial</button>
        </form>
    </body>
</html>
